nav {
    height: 150px;
    padding: 0.4rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticker img {
    width: 150px;
    cursor: pointer;
    margin-left: 20px;

        @media (max-width: 778px){
            padding-left: 0;
            margin-left: 0;
        }
}

.navContainer-1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
    margin-bottom: 20px;
}

.navLocation{
    color: #fff;
    margin-right: 26px;
}

.iconLocation{
    color: #FF8C00;
    font-size: larger;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 12px;
    cursor: pointer;
}

nav ul li a:hover{
    color: #FF8C00;
    
}

.links {
    position: absolute;
    top: -700px;
    left: -2000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media (min-width: 778px) {
        position: initial;
        margin: 0;
    }
}

.links a {
    color: #333;
    font-size: 2rem;
    display: block;

    @media (min-width: 778px) {
        font-size: 1rem;
        color: #fff;
        display: inline;
    }
}

.links.active {
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1000;
    
}
.links.active a {
    font-size: 2rem;
    margin-top: 1rem;
    color: #fff;
}

.burger-menu {
    @media (min-width: 778px) {
        display: none;
        
    }
}

.login-carro a {
    text-decoration: none;
    color: #fff;
}